In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

## Load data  
Separator is TAB

### Connections csv

In [10]:
connections = pd.read_csv('dataset/connections.csv', sep='\t')
#connections = sns.load_dataset("dataset/connections.csv")

connections.shape

(15074, 13)

Connections csv has 15074 rows and 13 columns.

In [11]:
connections.head()

,ts,imei,mwra,c.android.youtube,c.dogalize,c.android.gm,c.katana,c.android.chrome,c.raider,c.android.vending,c.UCMobile.intl,c.UCMobile.x86,c.updateassist
0,2018-05-05 10:00:00,3590433799317661107,0.0,11.65403,10.65335,10.48791,16.91620,5.04564,36.21508,14.24956,4.09319,15.20934,5.11764
1,2018-05-05 10:01:00,3590433799317662063,1.0,10.29551,10.46363,10.98438,15.65637,14.82931,24.83765,57.49911,23.94919,8.82448,44.13570
2,2018-05-05 10:02:00,863033069630348313,0.0,12.12831,9.53752,6.78080,6.98948,10.92433,3.29441,20.37891,52.55353,49.51037,99.75215
3,2018-05-05 10:03:00,359043379931766114,1.0,11.06419,11.55759,8.87744,11.84499,15.45902,24.78878,36.40299,25.77644,21.84167,65.17774
4,2018-05-05 10:04:00,3590433799317661842,1.0,12.08457,10.42860,9.82241,12.48869,12.85363,40.98237,74.13316,96.77450,18.48116,90.77304

In [19]:
connections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15074 entries, 0 to 15073
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ts                 15074 non-null  object
 1   imei               15074 non-null  int64
 2   mwra               15074 non-null  float64
 3   c.android.youtube  15074 non-null  float64
 4   c.dogalize         15074 non-null  float64
 5   c.android.gm       15074 non-null  float64
 6   c.katana           15074 non-null  float64
 7   c.android.chrome   15074 non-null  float64
 8   c.raider           15074 non-null  float64
 9   c.android.vending  15074 non-null  float64
 10  c.UCMobile.intl    15074 non-null  float64
 11  c.UCMobile.x86     15074 non-null  float64
 12  c.updateassist     15074 non-null  float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.5+ MB

This data has no null values (the number of Non-Null values for each column is the same as the total number of rows). First columns contains values of type object (which represents timestamp) and  will be possibly converted to type timestamp during further processing. The second attribute contains values of type int64 and stores International Mobile Equipment Identity number. The third one contains values of type float64, however obtains only one of two values: 1. or 0. representing malware-related-activity, so it will be probably converted to type boolean. Other columns contain float64 values, which represent input value for evaluation of mwra. First three attributes (ts, imei, mwra) are discrete (categorical) attributes and the rest are continuous (numeric) values.

In [ ]:
# oprava dat:
#connections['ts'] = pd.to_datetime(connections['ts'])
# maybe also mwra to boolean

### Devices csv

In [13]:
devices = pd.read_csv('dataset/devices.csv', sep='\t')
devices.shape

(2895, 6)

In [16]:
devices.head()

,latitude,longitude,store_name,code,location,imei
0,18.57677,-72.22625,Croix-des-Bouquets,HT,America/Port-au-Prince,3590433799317662113
1,-25.54073,152.70493,Maryborough,AU,Australia/Brisbane,8630330696303481107
2,50.88506,4.07601,Denderleeuw,BE,Europe/Brussels,8630330696303481461
3,48.15659,28.28489,Soroca,MD,Europe/Chisinau,3590433799317661016
4,-34.64966,-58.38341,Barracas,AR,America/Argentina/Buenos_Aires,3590433799317662253

### Processes csv

In [14]:
processes = pd.read_csv('dataset/processes.csv', sep='\t')
processes.shape

(15074, 23)

In [17]:
processes.head()

,ts,imei,mwra,p.android.chrome,p.android.documentsui,p.android.gm,p.system,p.android.packageinstaller,p.android.settings,p.android.externalstorage,...,p.dogalize,p.simulator,p.google,p.android.vending,p.inputmethod.latin,p.process.gapps,p.notifier,p.olauncher,p.gms.persistent,p.android.defcontainer
0,2018-05-05 10:00:00,3590433799317661107,0.0,7.41473,10.17656,14.80917,12.14702,11.55620,8.33912,14.02450,...,65.61120,50.11483,53.37584,68.21001,61.69014,42.31022,4.82212,90.97861,53.94759,20.98954
1,2018-05-05 10:01:00,3590433799317662063,1.0,9.40603,6.57378,6.06519,10.56643,16.74062,13.78434,7.57297,...,47.85939,64.64494,15.73793,58.42507,57.04862,40.09440,16.63539,30.11126,40.51207,64.61017
2,2018-05-05 10:02:00,863033069630348313,0.0,13.61225,11.73312,8.99679,10.79425,12.60312,10.78121,11.90788,...,52.33884,25.01553,42.88480,17.22521,13.74976,50.38813,42.62046,96.70838,43.37143,98.71501
3,2018-05-05 10:03:00,359043379931766114,1.0,8.14970,9.53996,8.28249,10.80629,13.97670,12.73047,11.64714,...,28.18437,55.22909,59.59616,78.03742,20.18875,20.99686,90.73121,86.05335,99.16606,95.92975
4,2018-05-05 10:04:00,3590433799317661842,1.0,8.20358,8.94156,8.62248,8.33003,13.44049,13.31239,11.40689,...,71.31165,60.24955,52.48479,13.37139,51.12877,70.85514,39.65245,29.01586,6.11403,65.87936

### Profiles csv

In [15]:
profiles = pd.read_csv('dataset/profiles.csv', sep='\t')
profiles.shape

(2605, 12)

In [18]:
profiles.head()

,name,mail,registration,job,ssn,company,current_location,username,imei,residence,user_id,address
0,Matthew Powell,floreseugene@yahoo.com,14 Mar 2024,NaN,219-60-6090,Hicks-Drake,"(Decimal('-27.447495'), Decimal('-43.231283'))",kcalderon,3590433799317661974,NaN,2401,"84859 Nunez Lock Suite 082\nWest Rossside, HI ..."
1,Nicole Richards,fthompson@gmail.com,2023-01-13,NaN,049-88-9351,"Nguyen, White and Lopez","(Decimal('39.235450'), Decimal('138.429324'))",pgarcia,8630330696303481198,"662 Christopher Point\nWest Matthew, VT 84352",1147,"9123 Traci Pines\nLindastad, ME 99569"
2,Andrew Smith,megan89@yahoo.com,17 Apr 2019,NaN,039-54-7186,Navarro-Goodman,"(Decimal('-22.094944'), Decimal('-141.211383'))",sramos,8630330696303482071,"9912 Jasmine Extension Suite 310\nDianeville, ...",459,"523 Suarez Port Apt. 013\nKellybury, MS 63150"
3,Shane Williams,osimmons@hotmail.com,2023-09-09,"Administrator, Civil Service",453-34-1867,"Brown, Compton and Thompson","(Decimal('39.9652785'), Decimal('-39.378417'))",ioneill,863033069630348826,NaN,1587,"4827 Morgan Mission\nWest Michaelborough, AL 1..."
4,Patricia Leach,prodriguez@yahoo.com,"01/30/2018, 00:00:00",NaN,785-50-4993,Pratt PLC,NaN,michaelhart,359043379931766403,NaN,2312,"48666 William View\nEricbury, OH 12135"

## Analyze individual attributes

### Connections csv

In [21]:
connections.describe()

,imei,mwra,c.android.youtube,c.dogalize,c.android.gm,c.katana,c.android.chrome,c.raider,c.android.vending,c.UCMobile.intl,c.UCMobile.x86,c.updateassist
count,1.507400e+04,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000,15074.000000
mean,3.944186e+18,0.628367,10.649835,11.159652,9.960639,11.779597,9.983044,49.518952,50.033587,50.042579,49.858606,49.845721
std,3.331167e+18,0.483257,2.541594,2.787612,2.564320,2.332968,2.609872,28.933385,28.855641,28.955827,29.024959,28.848587
min,3.590434e+17,0.000000,1.023410,0.113470,0.022370,2.299720,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,8.759405,9.342795,8.119385,10.424308,8.128787,24.551032,24.985702,24.950173,24.570863,24.762352
50%,3.590434e+18,1.000000,10.527030,11.410130,9.868480,12.011270,9.935055,49.285175,50.404290,50.368725,49.839325,49.573495
75%,8.630331e+18,1.000000,12.507920,13.140740,11.798052,13.362262,11.872960,74.746440,75.024978,74.937760,75.378667,74.872277
max,8.630331e+18,1.000000,20.726030,19.477060,18.284120,19.684410,19.927250,100.000000,100.000000,100.000000,100.000000,100.000000